[submodule "ash-mem-alloc/vendor/vma"]
	path = ash-mem-alloc/vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "ash-mem-alloc/vendor/vk-headers"]
	path = ash-mem-alloc/vendor/vk-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
